{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="{% static 'images/bear.jpg' %}" class="img-fluid login-image" alt="bear image">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h4 class="py-3">Create Your New Password</h4>
                <form method="POST" action="">
                    {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <input type="password" id="password" name="password" placeholder="password*"  class="form-control " required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm_password*"  class="form-control " required>
                            </div>
                            <span id="message"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <input type="submit" class="btn1 mt-3 mb-5" id="save" class="form-control" value="Reset Password">
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}