{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="product-details">
    <bold>User:</bold> {{product_data.user}} <br>
    <b>Product Name:</b>{{product_data.name}} <br>
    <b>Product Description:</b>{{product_data.discription}} <br>
    <hr style="border-width:2px;border-color:rgb(7, 7, 6);">
    <div class="product-images">
    {% for img in images %}
        <img src="{{img.product_images.url}}" alt="images" height="200px">
    {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
        <a class="btn btn-primary my-2 col-md-3" href="{% url 'edit' product_data.id %}">
            Edit
        </a>
    {% endif %}
</div>
          
{% endblock %}