{% extends 'main.html' %}
{% load static %}

{% block content %}
        <!-- {% if request.user.is_authenticated %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <p>Hello {{request.user}}</p>
                <a class="btn btn-primary btn-sm" href="{% url 'logout' %}">logout</a>
        {% endif %} -->
                <div class="section">
                        <div class="nopadding">
                                <div class="image-onpage">
                                <img src="{% static 'images/samsung1A31.png' %}" class="product-image" alt="">
                                <img src="{% static 'images/samsung2A31.png' %}" class="product-image" alt="">
                                <img src="{% static 'images/samsung3A31.png' %}" class="product-image" alt="">
                                </div>
                                <div>
                                        Name:
                                        Discription:
                                </div>
                        </div>
                </div>
{% endblock content %}

