{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="row">
        {% for p in product %}
        <div class="col-md-3" style="">
                <div class="card my-2" style="border-color: black;">
                        {% for img in images %}
                                {% if img.product == p %}
                                <img src="{{img.product_images.url}}" alt="images" height="200px">
                                {% endif %}
                        {% endfor %}
                                <div class="card-body">
                                        <small style="font-weight: bold;">User: {{p.user}}</small><br>
                                        <small style="font-weight: bold;">Product Name: {{p.name}}</small><br>
                                        <small style="font-weight: bold;">Description: {{p.discription}}</small>
                                </div>
                                <a href="{% url 'details' p.id %}"  class="btn btn-outline-dark btn-sm m-1">Details</a>
                        </div>
                </div>
                {% endfor %} 
        
</div>

{% endblock content %}

